Source: salt-formula-iptables
Maintainer: Dzmitry Stremkouski <dstremkouski@mirantis.com>
Section: admin
Priority: extra
Build-Depends: salt-master, python, python-yaml, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://mirantis.com
Vcs-Browser: https://github.com/Mirantis/salt-formula-iptables
Vcs-Git: https://github.com/Mirantis/salt-formula-iptables.git

Package: salt-formula-iptables
Architecture: all
Depends: ${misc:Depends}
Description: iptables salt formula
 Manages iptables rules.
